# Игнорировать файлы и директории, созданные Django

*.pyc
*.pyo
__pycache__/
*.sqlite3

# Игнорировать файлы, созданные IDE и текстовыми редакторами

*.pyc
*.swp
*~
.idea/
.vscode/

# Игнорировать статические файлы и медиафайлы

staticfiles/
media/

# Игнорировать файлы конфигурации

.env

# Игнорировать файлы зависимостей и виртуального окружения

venv/
env/

# Игнорировать локальные настройки

local_settings.py

# Игнорировать файлы журналов и временные файлы

log/
temp/
**/node_modules/